<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ar</key>
	<dict>
		<key>asr</key>
		<string>ar_AE</string>
		<key>tts</key>
		<string>ar_WW</string>
		<key>male</key>
		<string>Maged</string>
		<key>female</key>
		<string>Laila</string>
	</dict>
	<key>eu</key>
	<dict>
		<key>asr</key>
		<false/>
		<key>tts</key>
		<string>eu_ES</string>
		<key>male</key>
		<false/>
		<key>female</key>
		<string>Miren</string>
	</dict>
	<key>ca</key>
	<dict>
		<key>asr</key>
		<string>ca_ES</string>
		<key>tts</key>
		<string>ca_ES</string>
		<key>male</key>
		<string>Jordi</string>
		<key>female</key>
		<string>Montserrat</string>
	</dict>
	<key>zh</key>
	<dict>
		<key>asr</key>
		<string>cn_MA</string>
		<key>tts</key>
		<string>zh_CN</string>
		<key>male</key>
		<false/>
		<key>female</key>
		<string>Tian-Tian</string>
	</dict>
	<key>cs</key>
	<dict>
		<key>asr</key>
		<string>cs_CZ</string>
		<key>tts</key>
		<string>cs_CZ</string>
		<key>male</key>
		<false/>
		<key>female</key>
		<string>Zuzana</string>
	</dict>
	<key>da</key>
	<dict>
		<key>asr</key>
		<string>da_DK</string>
		<key>tts</key>
		<string>da_DK</string>
		<key>male</key>
		<string>Magnus</string>
		<key>female</key>
		<string>Ida</string>
	</dict>
	<key>nl</key>
	<dict>
		<key>asr</key>
		<string>nl_NL</string>
		<key>tts</key>
		<string>nl_NL</string>
		<key>male</key>
		<string>Xander</string>
		<key>female</key>
		<string>Claire</string>
	</dict>
	<key>en</key>
	<dict>
		<key>female</key>
		<string>Kate</string>
		<key>male</key>
		<string>Oliver</string>
		<key>tts</key>
		<string>en_UK</string>
		<key>asr</key>
		<string>en_GB</string>
	</dict>
	<key>fi</key>
	<dict>
		<key>asr</key>
		<string>fi_FI</string>
		<key>tts</key>
		<string>fi_FI</string>
		<key>male</key>
		<false/>
		<key>female</key>
		<string>Satu</string>
	</dict>
	<key>fr</key>
	<dict>
		<key>asr</key>
		<string>fr_FR</string>
		<key>tts</key>
		<string>fr_FR</string>
		<key>male</key>
		<string>Thomas</string>
		<key>female</key>
		<string>Audrey-ML</string>
	</dict>
	<key>gl</key>
	<dict>
		<key>asr</key>
		<false/>
		<key>tts</key>
		<string>gl_ES</string>
		<key>male</key>
		<false/>
		<key>female</key>
		<string>Carmela</string>
	</dict>
	<key>de</key>
	<dict>
		<key>asr</key>
		<string>de_DE</string>
		<key>tts</key>
		<string>de_DE</string>
		<key>male</key>
		<string>Markus</string>
		<key>female</key>
		<string>Anna-ML</string>
	</dict>
	<key>el</key>
	<dict>
		<key>asr</key>
		<string>el_GR</string>
		<key>tts</key>
		<string>el_GR</string>
		<key>male</key>
		<string>Nikos</string>
		<key>female</key>
		<string>Melina</string>
	</dict>
	<key>hu</key>
	<dict>
		<key>asr</key>
		<string>hu_HU</string>
		<key>tts</key>
		<string>hu_HU</string>
		<key>male</key>
		<false/>
		<key>female</key>
		<string>Mariska</string>
	</dict>
	<key>id</key>
	<dict>
		<key>asr</key>
		<string>id_ID</string>
		<key>tts</key>
		<string>id_ID</string>
		<key>male</key>
		<false/>
		<key>female</key>
		<string>Damayanti</string>
	</dict>
	<key>it</key>
	<dict>
		<key>asr</key>
		<string>it_IT</string>
		<key>tts</key>
		<string>it_IT</string>
		<key>male</key>
		<string>Luca</string>
		<key>female</key>
		<string>Federica</string>
	</dict>
	<key>ja</key>
	<dict>
		<key>asr</key>
		<string>ja_JP</string>
		<key>tts</key>
		<string>ja_JP</string>
		<key>male</key>
		<string>Otoya</string>
		<key>female</key>
		<string>Kyoko</string>
	</dict>
	<key>ko</key>
	<dict>
		<key>asr</key>
		<string>ko_KR</string>
		<key>tts</key>
		<string>ko_KR</string>
		<key>male</key>
		<false/>
		<key>female</key>
		<string>Sora</string>
	</dict>
	<key>ms</key>
	<dict>
		<key>asr</key>
		<string>ms_MY</string>
		<key>tts</key>
		<false/>
		<key>male</key>
		<false/>
		<key>female</key>
		<false/>
	</dict>
	<key>no</key>
	<dict>
		<key>asr</key>
		<string>no_NO</string>
		<key>tts</key>
		<string>no_NO</string>
		<key>male</key>
		<string>Henrik</string>
		<key>female</key>
		<string>Nora</string>
	</dict>
	<key>pl</key>
	<dict>
		<key>asr</key>
		<string>pl_PL</string>
		<key>tts</key>
		<string>pl_PL</string>
		<key>male</key>
		<false/>
		<key>female</key>
		<string>Ewa</string>
	</dict>
	<key>pt</key>
	<dict>
		<key>asr</key>
		<string>pt_PT</string>
		<key>tts</key>
		<string>pt_PT</string>
		<key>male</key>
		<string>Felipe</string>
		<key>female</key>
		<string>Catarina</string>
	</dict>
	<key>ro</key>
	<dict>
		<key>asr</key>
		<string>ro_RO</string>
		<key>tts</key>
		<string>ro_RO</string>
		<key>male</key>
		<false/>
		<key>female</key>
		<string>Ioana</string>
	</dict>
	<key>ru</key>
	<dict>
		<key>asr</key>
		<string>ru_RU</string>
		<key>tts</key>
		<string>ru_RU</string>
		<key>male</key>
		<string>Yuri</string>
		<key>female</key>
		<string>Milena</string>
	</dict>
	<key>sk</key>
	<dict>
		<key>asr</key>
		<string>sk_SK</string>
		<key>tts</key>
		<string>sk_SK</string>
		<key>male</key>
		<false/>
		<key>female</key>
		<string>Laura</string>
	</dict>
	<key>es</key>
	<dict>
		<key>asr</key>
		<string>es_ES</string>
		<key>tts</key>
		<string>es_ES</string>
		<key>male</key>
		<string>Jorge</string>
		<key>female</key>
		<string>Monica</string>
	</dict>
	<key>sv</key>
	<dict>
		<key>asr</key>
		<string>sv_SE</string>
		<key>tts</key>
		<string>sv_SE</string>
		<key>male</key>
		<string>Oskar</string>
		<key>female</key>
		<string>Alva</string>
	</dict>
	<key>th</key>
	<dict>
		<key>asr</key>
		<string>th_TH</string>
		<key>tts</key>
		<string>th_TH</string>
		<key>male</key>
		<false/>
		<key>female</key>
		<string>Kanya</string>
	</dict>
	<key>tr</key>
	<dict>
		<key>asr</key>
		<string>tr_TR</string>
		<key>tts</key>
		<string>tr_TR</string>
		<key>male</key>
		<string>Cem</string>
		<key>female</key>
		<string>Yelda</string>
	</dict>
	<key>uk</key>
	<dict>
		<key>asr</key>
		<string>uk_UA</string>
		<key>tts</key>
		<false/>
		<key>male</key>
		<false/>
		<key>female</key>
		<false/>
	</dict>
	<key>vi</key>
	<dict>
		<key>asr</key>
		<string>vi_VN</string>
		<key>tts</key>
		<false/>
		<key>male</key>
		<false/>
		<key>female</key>
		<false/>
	</dict>
	<key>he</key>
	<dict>
		<key>asr</key>
		<string>he_IL</string>
		<key>tts</key>
		<string>he_IL</string>
		<key>male</key>
		<false/>
		<key>female</key>
		<string>Carmit</string>
	</dict>
</dict>
</plist>
